* {

    margin: 0;
    padding: 0;
}

body {
    font-family: 'Yeseva One', cursive;

}

p {
    line-height: 2rem;
}

h1 {
    margin-bottom: 3%;
}

.header-section {
    background-image: url(images/donation13.jpg);
    height: 660px;
    background-color: #1d1b1b;
    color: rgb(235, 243, 245);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-div {

    text-align: center;
    padding-top: 80px;
    margin: auto;

}

span {
    color: rgb(20, 228, 37)
}

.header-div h1 {
    font-size: 50px;

}


.header-div p {
    margin: 0;
    font-size: 1.2rem;
    justify-content: center;
    opacity: 0.8;
}

.header-div a {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 20px;
    background-color: rgb(20, 228, 37);
    font-weight: 700;
    top: 50px;
    position: relative;
    color: black
}

.donate-now-section {

    height: 660px;

}

.btn-donate {
    top: 50px;
    position: relative;
    padding: 30px;
    margin-left: 3%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;


}

#btn-two {
    border: 3px solid rgb(162, 245, 169);
    background-color: rgb(230, 252, 243);
    color: rgb(49, 243, 65);

}

#other-amount {
    top: 100px;
    position: relative;

}

input {
    border: none;
    text-align: center;
    font-size: 1.2rem;

}

hr {
    margin: 20px 210px 30px 210px;

    vertical-align: middle;

}

.our-donate-plan-section {
    margin-top: -50px;
}

.donate-plan {
    display: flex;
    margin: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 320px;
    height: 340px;
    border: none;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
    margin-top: -50px;

}

.card h3 {
    padding-bottom: 40px;
}

.card img {
    padding-bottom: 40px;
}

.card p {
    font-weight: lighter;

}


.card1 {
    background-color: rgb(222, 245, 237);
}

.card2 {
    background-color: rgb(241, 237, 238);
}

.card3 {
    background-color: rgb(252, 240, 227);
}

.happening-now {
    text-align: center;

}

#fund-collection {
    padding-bottom: 20px;
    font-size: 2rem;
}

.card4 {
    background-color: white;
    box-shadow: 1px 8px 5px rgb(156, 243, 166);
    height: 250px;

}

.card5 {
    background-color: white;
    box-shadow: 1px 8px 5px rgb(156, 243, 166);
    height: 250px;
}



footer {

    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;

}

.get-my-updates {
    text-align: center;
}

.update-div {
    margin: 10px 200px 30px 200px;
    background-color: rgb(247, 189, 179);
    height: 150px;
    text-align: center;
    display: flex;
}

#email {
    padding: 10px 15px;
    margin-top: 40px;
    background-color: rgb(228, 224, 224);
    border-radius: 5px;
    text-align: left;
}

footer h4 {
    color: rgb(49, 243, 65);
}